<div class="row">
  <div class="col-12">
    <%= form_with(model: user, local: true) do |form| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@user.errors.count, "error") %>:
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, class:"form-control" %>
          </div>
        </div>      
      </div>
      <div class="col-4">
        <div class="form-group">
          <div class="field">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <div class="field">
            <%= form.label :job %>
            <%= form.text_field :job, class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="ml-auto p-2">
        <div class="actions">
          <%= link_to 'Back', users_path, class:"btn btn-light" %>
          <%= form.submit 'Create user', :class => 'btn btn-success'  %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>