<div class="center">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Job</th>
        <th>Remote Id</th>
      </tr>
    </thead>

    <tbody>
      <% if @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.job %></td>
        <td><%= user.remote_id %></td>
      </tr>
      <% end.empty? %>
      <td colspan="4">No users registered</td>
      <% end %>
    </tbody>
  </table>
  <br> 
</div>


<div class="d-flex">
  <div class="ml-auto p-2">
    <%= link_to 'New User', new_user_path, class:"btn btn-success" %>
  </div>
</div>
