body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table {
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}

th {
  border-bottom: 1px solid transparent !important;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: #ffbf3d;
  border-top: 1px solid transparent !important;
  padding: 18px 0px !important;
}

td {
  padding: 0 5px 7px;
  font-family: Lato-Regular;
  font-size: 17px;
  color: gray;
  padding: 16px 0px !important;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

tr:nth-child(even) {
  background-color: #f8f6ff;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors input {
  border-color: red;
}

label {
  display: block;
}
